@page "/edit/{IdEntrada:int}"
@using Juan_AmparoAP1_P1.Services
@using Juan_AmparoAP1_P1.Models
@inject EntradasHuacalesServices EntradasHuacalesServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<h3>Entrada de huacales edit </h3>

@if (entrada != null)
{
    <EditForm Model="entrada" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label>Fecha</label>
            <InputDate class="form-control" @bind-Value="entrada.Fecha" />
            <ValidationMessage For="@(() => entrada.Fecha)" />
        </div>

        <div class="mb-3">
            <label>Nombre Del Cliente</label>
            <InputText class="form-control" @bind-Value="entrada.NombreCliente" />
            <ValidationMessage For="@(() => entrada.NombreCliente)" />
        </div>

        <div class="mb-3">
            <label>Cantidad</label>
            <InputNumber class="form-control" @bind-Value="entrada.Cantidad" />
            <ValidationMessage For="@(() => entrada.Cantidad)" />
        </div>

        <div class="mb-3">
            <label>Precio</label>
            <InputNumber class="form-control" @bind-Value="entrada.Precio" />
            <ValidationMessage For="@(() => entrada.Precio)" />
        </div>

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
            <a href="/index" class="btn btn-secondary">Volver</a>
        </div>
    </EditForm>
}
else
{
    <div class="alert alert-info">Cargando...</div>
}

@code {
    [Parameter]
    public int IdEntrada { get; set; }
    public EntradasHuacales? entrada { get; set; }

    protected override async Task OnInitializedAsync()
    {
        entrada = await EntradasHuacalesServices.Buscar(IdEntrada);
        if (entrada == null)
        {
            // Toast.ShowError("No encontrado");
            navigationManager.NavigateTo("/index");
        }
    }

    private async Task Guardar()
    {
        if (await EntradasHuacalesServices.Guardar(entrada!))
        {
            // Toast.ShowSuccess("Actualizado correctamente");
            navigationManager.NavigateTo("/index");
        }
        else
        {
            // Toast.ShowError("No se pudo actualizar");
        }
    }

    private async Task Eliminar()
    {
        if (await EntradasHuacalesServices.Eliminar(IdEntrada))
        {
            // Toast.ShowSuccess("Eliminado correctamente");
            navigationManager.NavigateTo("/index");
        }
        else
        {
            // Toast.ShowError("No se pudo eliminar");
        }
    }
}